{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"new-cap": ["error", {
			"capIsNewExceptions": [
				"ToString",
				"TrimString",
				"ToInt32",
			],
		}],
		"multiline-comment-style": "off",
	},

	"overrides": [
		{
			"files": "noProto.js",
			"rules": {
				"id-length": "off",
			},
		},
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": "off",
			},
		},
	],
}
